.clearfix {
	overflow: auto;
	zoom: 1;
}

.spalt-1 {
	width: 960px;
	margin: auto;
}

body {
	margin: 0;
}

header {
	width: 100%;
	margin: 0 auto;
	background-color: #999;
}

.logga {
	float: left;
}

nav {
	float: left;
}

nav ul {

}

nav ul li {
	float:left;
	list-style-type: none;
	padding: 5px;
	background-color: #aaa;
	border-right: 3px solid #fff;
}

nav ul li:hover {
	background-color: #eee;
}

section {
	float: left;
	width: 380px;
	margin: 10px;
}

article {
	width: 960px;
	margin: 0 auto;
	background-color: #bbb;
	padding-left: 80px;
	padding-right: 80px;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
	width: 100%;
	background-color: #854057;
}
